<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{_layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Edit Book</title>
</head>
<body>
<section>

    <h3 class="fw-bold mb-3">Edit Book</h3>

    <form action="/books/update" method="post" class="p-4 bg-white border shadow-sm">

        <input type="hidden" name="id" th:value="${book.id}">

        <div class="mb-3">
            <label class="fw-bold">Code</label>
            <input type="text" name="code" th:value="${book.code}" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="fw-bold">Name</label>
            <input type="text" name="name" th:value="${book.name}" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="fw-bold">Description</label>
            <textarea name="description" class="form-control"
                      th:text="${book.description}"></textarea>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="fw-bold">Quantity</label>
                <input type="number" name="quantity" th:value="${book.quantity}" class="form-control" required>
            </div>

            <div class="col-md-4 mb-3">
                <label class="fw-bold">Price</label>
                <input type="number" name="price" th:value="${book.price}" class="form-control" step="0.01" required>
            </div>

            <div class="col-md-4 mb-3">
                <label class="fw-bold">Status</label>
                <select name="isActive" class="form-control">
                    <option value="1" th:selected="${book.isActive == 1}">Active</option>
                    <option value="0" th:selected="${book.isActive == 0}">Disable</option>
                </select>
            </div>
        </div>

        <div class="mb-3">
            <label class="fw-bold">Authors</label>
            <div class="border p-3 rounded">

                <div th:each="a : ${authors}" class="form-check mb-1">
                    <input class="form-check-input" type="checkbox" name="authorIds"
                           th:value="${a.id}"
                           th:checked="${selectedAuthors.contains(a.id)}">
                    <label class="form-check-label" th:text="${a.name}"></label>

                    <input type="radio" name="editor" th:value="${a.id}"
                           th:checked="${editorId == a.id}" class="ms-3">
                    <small class="text-muted">Chủ biên</small>
                </div>

            </div>
        </div>

        <button class="btn btn-primary">Update</button>
        <a href="/books" class="btn btn-secondary">Back</a>
    </form>

</section>
</body>
</html>
